html {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  color: #4d4e53;
}

* {
  color: inherit;
  box-sizing: border-box;
}

header {
  font-size: 1.8em;
}

#navbar header {
  font-size: 1.8em;
}

body {
  margin-left: 0;
}

#navbar {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 100%;
  border-right: 1px solid #4d4e53;
  position: fixed;
  top: 0;
  left: 0;
}

#main-doc {
  order: 2;
  position: absolute;
  top: 0;
  left: 300px;
  padding: 20px 30px 10px 10px;
}

#navbar > * {
  border-bottom: 1px solid #4d4e53;
}

#navbar a {
  text-decoration: none;
  padding: 10px 10px 10px 25px;
  text-align: left;
  vertical-align: middle;
}

#navbar header {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

#main-doc p {
  padding-left: 20px;
  line-height: 1.5;
}

#main-doc ul {
  padding-left: 60px;
}

#main-doc code {
  margin-left: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  display: block;
  margin-bottom: 16px;
}

header {
  color: black;
}

#navbar a:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  #main-doc {
    top: 300px;
    left: 0;
    position: static;
    order: 2;
    padding: 15px 20px 15px 20px;
  }

  #navbar {
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    overflow: scroll;
    position: static;
    border-right: none;
  }
}
